.attendance-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 40px 0;
}

.attendance-status {
    color: #696969;
    background-color: #c8c8c8;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 20px;
}

.date-text {
    font-size: 36px;
}

.current-time {
    font-size: 60px;
    font-weight: 900;
}

.button-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.attendance-black-button,
.attendance-white-button {
    width: 210px;
    height: 75px;
    color: white;
    background-color: black;
    font-size: 33px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}

.attendance-white-button {
    color: black;
    background-color: white;
}

.attendance-black-button {
    color: white;
    background-color: black;
}

.attendance-text {
    font-size: 25px;
    font-weight: bold;
}