.month-display {
    width: 60%;
    margin-bottom: 50px;
}

.month-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 0 30px;
}

.month-nav__prev,
.month-nav__next {
    text-decoration: none;
    color: #737373;
    font-weight: bold;
}

.month-nav__current {
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 4px;
    border-radius: 18px;
    overflow: hidden;
    table-layout: fixed;
    margin-bottom: 40px;
}

thead,
tbody tr {
    height: 45px;
    color: #737373;
    background-color: white;
}

tbody tr {
    margin-top: 5px;
}

td {
    text-align: center;
    font-weight: bold;
}

.detail-link {
    color: black;
    text-decoration: none;
}