.auth-container {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 80px 0 40px 0;
}

.auth-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

.auth-form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.auth-form__label {
    font-size: 23px;
    font-weight: bold;
}

.auth-form__input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
}

.auth-form__button {
    height: 50px;
    color: white;
    background-color: black;
    font-size: 23px;
    font-weight: bold;
    border-radius: 5px;
    margin: 45px 0 30px 0;
    cursor: pointer;
}

.auth-form__link {
    text-decoration: none;
    text-align: center;
}

.error-container {
    height: 50px;
}

.error-message {
    color: red;
}